{
  "presets": [
    "react",
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "env"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul", "transform-es2015-modules-commonjs" ],
      "ignore": "*.+(test|stub).*"
    }
  }
}
